body {
background: #6298c4;
background: linear-gradient(90deg, #ebf4f5, #b5c6e0, #99aceb);}

body::after {
  content: "";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#bar, #leftSide, #rightSide {
  position: absolute;
  width: 200px;
  color: white;
  opacity: 1;
  text-align: center;
  box-sizing: border-box;
}

* {
  transition: all 1.5s;
}

#advice {
  position: absolute;
  font-family: Noto Sans;
  font-size: 16px;
  color: white;
  padding: 15px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  z-index: 5;
  opacity: 0;
}
#advice #cross {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
#advice #cross:hover {
  color: #bbb;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  /* box-shadow: 0px 0px 50px rgb(50, 50, 50); */
  background-size: cover;
  overflow: hidden;
  z-index: 4;
  border-radius: 5px;
}
#container:hover{
    box-shadow: 0px 0px 50px rgb(50, 50, 50);

}
#leftSide, #rightSide {
  padding: 20px 5px;
  top: 0;
  z-index: 2;
}

#leftSide {
  left: -300px;
}

#rightSide {
  right: 0px;
}

label {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-family: Oxygen;
}

.wrapper {
  position: relative;
  padding: 20px 0;
}

#loginContent, #signupContent {
  position: relative;
  height: 100%;
  width: 100%;
  /* border-radius: 10px; */
}

#signupContent {
  margin-left: -800px;
}

#loginBlock, #signupBlock {
  position: absolute;
  height: 100%;
  z-index: 3;
}

#loginBlock {
  background: linear-gradient(to right, #9bf8f4, #6f7bf7);
  width: calc(100% - 200px);
  margin-left: 0px;
  overflow: hidden;
  /* border-radius: 25%; */
}

input:not([type=button]) {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 22px;
  font-family: Oxygen;
}
input:not([type=button]):focus {
  border-bottom: 1px solid #2575fc;
}
input:not([type=button]):focus + label {
  color: #2575fc;
}
input:not([type=button]):valid ~ i[class*=check-square] {
  opacity: 1;
}

i[class*=check-square] {
  opacity: 0;
  position: absolute;
  right: 10px;
  bottom: 30px;
  transition: all 0.5s;
}

input[type=button] {
  background: white;
  border: 2px solid silver;
  border-radius: 50px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
input[type=button][type=button]:hover {
  background: #1a5bbf;
  border: 2px solid #1a5bbf;
  color: white;
}

#bar {
  margin-left: calc(100% - 200px);
  height: 100%;
  z-index: 1;
}

#mask {
  width: 100%;
  height: 100%;
  padding: 20px 5px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-family: Oxygen;
  margin: 10px;
}

.text {
  font-family: Noto Sans;
}

#toggle {
  position: relative;
  font-size: 20px;
  font-family: Nunito;
  border: 3px solid white;
  border-radius: 50px;
  width: 100px;
  margin: 300px auto 0px auto;
  padding: 3px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.dot {
  visibility: hidden;
}

#loginText {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signupText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signupBlock {
  top: 0;
  left: 100%;
  width: calc(100% - 200px);
  background: linear-gradient(to right, #9bf8f4, #6f7bf7);
  overflow: hidden;
}

#loginForm, #signupForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=styles.css.map */
